extends layout

block body_header

block body_content

	.page#book
		section#opening
			.container-fuild
				.character_left
				.character_left.mask
				.character_center.top
				.character_center.top.mask
				.line
				.label
					p 
						| 2020.7 - 2021.4
						br
						| DnD 5e
				.character_right.top
				.character_right.top.mask
				.character_right.bottom
				.character_right.bottom.mask
				.character_center.bottom
				.character_center.bottom.mask
				.row
					.col-sm-5
						.title
							+pageTitle({
								t1: 'Dungeons',
								t2: 'and',
								t3: 'Dragons'
							})

							h2
								| Report Book for
								br
								| Lost Mine of Phandelver
			.block_wipe.full(style="background-color: #141414")


		section#intro
			.container-fluid
				.row: .col
					.block_title
						.wipe_outline
							h3 龍與地下城 5e - 凡杜林的失落礦坑 團務紀錄創作本
							.wipe 
					p(style="margin-bottom: 50px") B5 橫式全彩本 + A5 直式黑白漫畫附錄 / 42p (本體) + 11p (附錄) / NT$300
					.btn_sheet 填寫預購 5/22 ~ 6/5

		section#descript
			.container
				.row
					.col-sm-6
						.block_title
							.wipe_outline
								h3 關於「龍與地下城」
								.wipe
						p.desc
							| 《龍與地下城》( Dungeons & Dragons，簡稱 D&D 或 DnD ），是一款奇幻背景的桌上角色扮演遊戲（ Tabletop Role Playing Game, TRPG ）。根據遊玩的劇本與遊戲規則，遊戲主持人和玩家將扮演其中的角色共同推進故事發展。
							br
							| 本次遊戲採用 5e 版本進行遊玩，劇本為《凡杜林的失落礦坑》( Lost Mine of Phandelver )
							br
							br
							| ( 資料參考：維基百科 )
					.col-sm-6
						.block_title
							.wipe_outline
								h3 什麼是「團務紀錄」？
								.wipe
						p.desc
							| 進行 TRPG 的遊戲過程俗稱「跑團」，將跑團時的過程透過文字、圖片、影片、遊戲……等方式記錄記錄下來，稱作「團務紀錄」( 俗稱 Repo )
							br
							| 本書記錄著冒險者們在旅途中發生的大小事，收錄約 50 張的設定、插圖外，並節錄文字紀錄輔佐圖像，希望能透過此書帶給大家自己在冒險中所獲得的樂趣與感動！
							br
						

		section#detail
			.container
				.row.detail_card
					.col-sm-3.price
						h1 NT$300 
						p(style="font-size: 14px") *實體價不含運費
					.col-sm-9
						ul(style="list-style-type: none")
							li.system B5 橫式全彩本 | 42 頁 + A5 直式黑白漫畫附錄 | 11 頁
							li * 漫畫附錄形式將根據全彩本的內容安排，依序章節分開輸出夾入全彩本內頁。
							li * 本次團務為公開團務，全文字與影片紀錄檔已於網路上公開，本書收錄之相關圖片創作則已釋出約 2/3 的量於各大社群平台上。
							li * 本書內容著重於玩家們的原創角色故事，但仍會有少部分提及劇本裡的角色與情節，而造成少量的劇本內容透露。
				
		section#book_repo
			.container
				.row.d-flex.justify-content-center: .col-md-8.p-0
					.carousel.slide#book_carousel(data-ride="carousel")
						ol.carousel-indicators
							li.active(data-target="#book_carousel", data-slide-to="0")
							li(data-target="#book_carousel", data-slide-to="1")
							li(data-target="#book_carousel", data-slide-to="2")
							li(data-target="#book_carousel", data-slide-to="3")
							li(data-target="#book_carousel", data-slide-to="4")
							li(data-target="#book_carousel", data-slide-to="5")
							li(data-target="#book_carousel", data-slide-to="6")
							li(data-target="#book_carousel", data-slide-to="7")

						
						.carousel-inner
							.carousel-item
								.preview(style='background-image: url("../images/book/preview_8.png")')
							.carousel-item.active
								.preview(style='background-image: url("../images/book/preview_1.png")')
							.carousel-item
								.preview(style='background-image: url("../images/book/preview_2.png")')
							.carousel-item
								.preview(style='background-image: url("../images/book/preview_3.png")')
							.carousel-item
								.preview(style='background-image: url("../images/book/preview_4.png")')
							.carousel-item
								.preview(style='background-image: url("../images/book/preview_5.png")')
							.carousel-item
								.preview(style='background-image: url("../images/book/preview_6.png")')
							.carousel-item
								.preview(style='background-image: url("../images/book/preview_7.png")')

						a.carousel-control-prev(href="#book_carousel" role="button" data-slide="prev")
							span.carousel-control-prev-icon(aria-hidden="true")
							span.sr-only Previous

						a.carousel-control-next(href="#book_carousel" role="button" data-slide="next")
							span.carousel-control-next-icon(aria-hidden="true")
							span.sr-only Next
			.row: .col-12.p-0
					.btn_group
						a.btn_repo.blue(href="https://www.plurk.com/p/o5kann", target="_blank") Repo #1
						a.btn_repo.red(href="https://www.plurk.com/p/o7cvge", target="_blank") Repo #2
						a.btn_repo.green(href="https://www.plurk.com/p/o9nd4c", target="_blank") Repo #3
						a.btn_repo.yellow(href="https://www.plurk.com/p/ob3ibi", target="_blank") Repo #4
						a.btn_repo.purple(href="https://www.plurk.com/p/obw1cm", target="_blank") Repo #5

					a(href="https://www.plurk.com/p/ob3smc", target="_blank")
						.btn_sheet 全文字紀錄

		section#descript.ending
			.container
				.row
					.col-sm-3
						.block_title
							.wipe_outline
								h3(style="font-size: 2.75rem") Cast
								.wipe
					.col-sm-9
						p
							| 遊戲主持人 ( DM ) ：好長
							br
							br
							| 玩家( PL )：
							br
							| 羽入 ( 費沙 )、阿皮 ( 維德 )、紊淆( 菲 )、酹月 ( 洛爾 )、八音諧 ( 伊努斯 )

				.row(style="margin-top: 200px"): .col-12 
					.btn_sheet 預購本書 5/22 ~ 6/5
block body_script
	script.
		gsap.to('.block_wipe.full', { width: '0', duration: 1,  delay: 0.8, ease: Power4.easeInOut})
		gsap.to('.character_left.mask', { backgroundPositionX: '40vw', duration: .8,  delay: 1.6, ease: Power4.easeInOut})
		
		gsap.to('.character_center.top.mask', { backgroundPositionX: '40vw', duration: .8,  delay: 1.6, ease: Power4.easeInOut})
		gsap.to('.character_center.bottom.mask', { backgroundPositionX: '40vw', duration: .8,  delay: 1.6, ease: Power4.easeInOut})
		
		gsap.to('.character_right.top.mask', { backgroundPositionX: '40vw', duration: .8,  delay: 1.6, ease: Power4.easeInOut})
		gsap.to('.character_right.bottom.mask', { backgroundPositionX: '40vw', duration: .8,  delay: 1.6, ease: Power4.easeInOut})
		
		gsap.to('.text_wipe', { width: '0', duration: 1, ease: Power4.easeInOut, delay: 2, stagger: 0.1})

		gsap.to('.line', { height: '130vh', duration: 1, ease: Power4.easeInOut, delay: 2.8, stagger: 0.1})
		
		gsap.registerPlugin(ScrollTrigger);
		
		gsap.utils.toArray('section').forEach(section => {

			gsap.timeline({
				scrollTrigger: {
					trigger: section.querySelector('.wipe_outline'),
					//-markers: true,
					start: 'top 75%'
				}
			})
			.to(section.querySelectorAll('.wipe'),		 { width: '100%', duration: 0.4, ease: Power2.easeIn})
			.to(section.querySelectorAll('.wipe_outline h3'),  { opacity: 1,  duration: 0.1, delay: 0.1, ease: Power2.easeIn})
			.to(section.querySelectorAll('.wipe'),			 { left: 'auto', right: '0',  duration: 0.1, ease: Power2.easeIn})
			.to(section.querySelectorAll('.wipe'),			 { width: '0', duration: 0.4, ease: Power2.easeIn});
		});
