extends layout

block body_header

block body_content

	.page#comic
		section#opening
			.container-fuild
				.row.justify-content-center: .col-sm-6
					img.animate(src="./images/comic/3_1.png")
					img.animate(src="./images/comic/3_2_once.gif")
					img.animate(src="./images/comic/3_3.png")
					img.animate(src="./images/comic/3_4_loop.gif")
					img.animate(src="./images/comic/3_5.png")
					img.animate(src="./images/comic/3_6_once.gif")
					img.animate(src="./images/comic/3_7.png")
block body_script

