extends layout

block body_header

block body_content

	.page#comic
		section#opening
			.container-fuild
				.row.justify-content-center: .col-sm-6
					img.animate(src="./images/comic/animate_1.gif")
					.block
					img.animate(src="./images/comic/animate_2.gif")
					.block
					img.animate(src="./images/comic/animate_3.gif")
					.block
					img.animate(src="./images/comic/animate_3_1.gif")
					.block
					img.animate(src="./images/comic/animate_4.gif")
block body_script

