.navbar.navbar-expand-lg#header
	a.navbar-brand(href="/")
		.nav_logo 8Note
	.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
		.line
		.line
		.line
	.collapse.navbar-collapse(id="navbarText")
		ul.navbar-nav.ml-auto
			li.nav-item.active
				a.nav-link(href="./#about") About
			li.nav-item.active
				a.nav-link(href="./#project_list") Project
			li.nav-item.active
				a.nav-link(href="./#works") Work